* {
  text-align: center;
}

img {
  height: 300px;
  width: 250px;
  border: 2px rgba(0,0,0,0.8) solid;
  border-radius: 4px;
  box-shadow: 0 3px 2px gray;
  margin-bottom: 5px;

}

input {
  outline: none;
  height: 40px;
  border: 2px antiquewhite inset;
  border-radius: 4px;
}

select {
  height: 47px;
  outline: none;
}

header {
  color: white;
  background-color: rgba(2,10,2,1);
  padding-top: 20px;
  box-shadow: 0 3px 1px rgba(37,214,57,1);
  font-family: Arial sans-serif;
}

h1 {
  font-size: 2.5em;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-bottom: 7px;
}

p {
  font-style: italic;
  color: rgba(0,0,0,0.6);
}

button {
  background-color: rgba(37,214,57,.8);
  border: 2px rgba(37,214,57,.8) outset;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 20px;
  outline: none;
}

#result {
  margin-bottom: 10px;
}

#circles {
  height: 30px;
  /*border: 2px white solid;*/
  display: flex;
  justify-content: center;
}

.circ {
  width: 30px;
  /*border: 2px white solid;*/
  border-radius: 20px;
  margin-left: 4px;
  margin-right: 4px;
}

#redpurple {
  background-color: rgba(196,33,222,1)
}

#periwinkle {
  background-color: rgba(103,58,217,1)
}

#softgreen {
  background-color: rgba(70,166,118,1)
}

#lightteal {
  background-color: rgba(125,194,217,1)
}

#search-form {
  padding-bottom: 20px;
}

#details-overlay {
  visibility: hidden;
  position: fixed;
  top: 50px;
  left: 150px;
  height: 500px;
  width: 800px;
  color: black;
  background-color: rgba(240,240,240,.95);
  border: 2px rgba(37,214,57,1) solid;
  border-radius: 3px;
}

#details-overlay p {
  padding-left: 15px;
  padding-right: 15px;
}

#details-overlay img {
  height: 200px;
  width: 150px;
  box-shadow: 0 0 0 black;
  border: none;
}

span{
  font-size: .8em;
}

